footer {
	padding-left: 300px;
}

.testPad {
	padding-left: 240px;
	height: calc(100% - 64px) !important;
}
.sidenav {
	padding: 0 !important;
	height: calc(100% - 64px) !important;
	margin-top: 64px;

	width: 240px !important;
}

.sidenav-wrapper {
	min-height: 100% !important;
	padding-bottom: 96px;
	position: relative;
}

.sidebar-profile {
	padding: 25px 16px;
	background: url("../images/profile_bg.png");
	background-size: cover;
}
.sidebar-profile .sidebar-profile-image {
	/* display: inline-flex; */
	justify-content: space-between;
}

.sidebar-profile .sidebar-profile-image img {
	width: 50px;
	height: 50px;
}

.sidebar-profile .sidebar-profile-info {
	margin-top: 5px;
}

.sidebar-profile .sidebar-profile-info p {
	color: #000;
	font-size: 14px;
	margin: 0;
	font-weight: bold;
}

.sidebar-profile .sidebar-profile-info span {
	color: #555;
	font-size: 13px;
}

.sidebar-profile .sidebar-profile-info i {
	color: #555;
	font-size: 19px;
}

.sidebar-profile .sidebar-profile-info a {
	height: auto;
	line-height: 1.5;
	padding: 0;
}

.sidebar-profile .sidebar-profile-info a:hover {
	background: transparent;
}

.sidebar-menu {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.nav-drop-icon {
	float: right !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.collapsible {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.collapsible-header i {
	width: auto;
	font-size: 20px;
	line-height: inherit;
	display: inline-block;
	text-align: left;
	margin-right: 15px;
}

.sidenav.sidenav-fixed ul li.active > a.collapsible-header,
.sidenav.sidenav-fixed ul li.active > a {
	font-weight: 500;
}
.sidenav .collapsible-header {
	margin: 0;
}

.sidenav .collapsible-body,
.sidenav.sidenav-fixed .collapsible-body {
	background-color: transparent;
}
